<!doctype html>
<!--根据BCP47文档规范, 声明语言为大陆简中普通话-->
<html lang="zh-cmn-Hans-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/style.css">
    {% block css %}
    {% endblock %}
    <title>情感分析</title>
</head>
<body>
    <header>
        <nav class="navbar" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand text-info" href="/">情感分析</a>
            </div>
        </nav>
    </header>

    <main>
    {% block main %}
    {% endblock %}
    </main>

    <footer class="bg-light">
        <div class="container">
            <nav class="nav">
                <a class="nav-link text-secondary" href="#">
                    © <span id="footer-year">2020</span> Lab
                </a>
            </nav>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="/static/js/jquery.min.js" charset="UTF-8"></script>
    <!-- Custom JavaScript -->
    <script type="text/javascript" src="/static/js/common.js" charset="UTF-8"></script>
    {% block js %}
    {% endblock %}
</body>
</html>